body{
    background-color: lightgreen;
}

h1{
    color: orangered;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

footer > p {
    color: darkorange;
    text-align: center;
}

