body{
    background-color: aqua;
}

h1{
    color: darkblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer > p {
    color: darkgreen;
    text-align: center;
}

